.product-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
  text-decoration: none;
  overflow: hidden;
  max-width: 300px;
  background-color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product-img-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}
.product-img-div img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: fill;
  border-radius: 10px;
}
.text-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  min-height: 180px;
  width: 100%;
  padding: 10px 10px;
  color: white;
  /* margin-top: 10px; */
  background-color: var(--dark-blue);
  border-radius: 10px 10px 0px 0px;
}
.text-div h5 {
  font-size: 12px;
  font-weight: 400;
}
.text-div h4 {
  font-size: 20px;
}
.top-text > p {
  font-size: 15px;
}
.text-div > p {
  font-size: 18px;
}
.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}
.btn-div button,
.btn-div a {
  background-color: white;
  width: 100%;
  cursor: pointer;
  display: grid;
  place-items: center;
  border: 2px solid transparent;
  text-decoration: none;
}
.btn-div button:hover,
.btn-div a:hover {
  background-color: transparent;
  border-color: white;
}
